#title {
    margin: 0;
    color: white;
}

#main_panel {
    margin: 5em 0;
    padding: 5em 4em;
}

@media screen and (max-width: 710px) {
    #main_panel {
        padding: 5em 0;
    }
}

.main_panel__text {
    color: white;
    font-size: 20px;
}

#main_panel ul {
    text-align: left;
    display: inline-block;
}

#main_container {
    text-align: left;
}

code {
    background-color: rgba(27, 31, 35, 0.2);
    border-radius: 3px;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
}

h2 {
    margin-top: 30px;
}

h3 {
    margin-top: 10px;
}

hr {
    margin-top: 40px;
}