#title {
    margin: 0;
    color: white;
}

#main_panel {
    display: inline-block;
    margin: 10em 0;
    padding: 5em 4em;
}

#message_board {
    margin-top: 15px;
    background-color: red;
    padding: 10px;
    opacity: 0.7;
    border-radius: 5%;
    display: none;
    color: white;
}

@media screen and (max-width: 710px) {
    #main_panel {
        padding: 5em 1.5em;
    }
}